<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/produtos" method="post" enctype="multipart/form-data">
        <input type="text" name="nome">
        <input type="text" name="descricao">
        <input type="number" name="quantidade">
        <input type="file" name="image">
        <input type="submit">
    </form>
    <div id="image">
        
    </div>

    <img src="http://localhost:1807/produtos/75/image">
    <script>
    </script>
</body>
</html>